.message-container {
  width: 100%;    
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";	

}

.messages {
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}

.messages div {
  width: 100%;
  display: flex;
  margin: 5px 0;
  word-break: break-all;
}

.messages div > span {
    display: flex;   
    padding: 2px 20px;
    border-radius: 5px;
}

.message-time {
    padding: 0;
    padding-left: 10px;
    min-width: 36px;
    font-size: 10px;
    display: flex;
    align-items: flex-end;
}

.message-container input {
  outline: none;
  width: 90%;
  border: 1px solid white;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  background: transparent;
  color: white;
  margin: 0 auto;
  font-size: 18px;
  padding-left: 20px;
}

.message-container input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  text-align: center;
  padding-right: 20px;
  opacity: .7; 
}

.message-container input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
  text-align: center;
  padding-right: 20px;
  opacity: .7; 
}

.message-container input::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
  padding-right: 20px;
  text-align: center;
  opacity: .7; 
}
