.main-container {
	background-color:#030b27;
  background: url('../../assets/MainPage/background.jpg');
  background-position:50%;
  background-repeat:no-repeat;
	background-size:cover;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;
}

.main-container_header {
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-container_header span {
	color: white;
	padding-right: 2px;
}

.header__icon {
	background: url("../../assets/session/sceenic.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	width: 90px;
	height: 110px;
}

.content-wrapper {
	display: flex;
	height: 100%;
	overflow: hidden;
}

.iframe-container {
	width: 100%;
	padding: 0 0 5px 5px;
}

.streams-container {
	width: 20%;
	max-height: 95vh;
	overflow: hidden;
}

.main-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}

.main-container .participants {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background: transparent;
}

.main-container .participants .video {
	/* width: 50% !important;
    height: 50%;
    position: relative;
    background: #262626;
    border: 2px solid #262626; */
}

.main-container .participants .video > div {
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	color: white;
	display: flex;
	justify-content: center;
}

.main-container .participants .video .participant .name {
	height: 10%;
	z-index: 1;
	position: absolute;
	top: 0px;
	bottom: 0px;
	display: flex;
	color: #fff;
	left: 0px;
	justify-content: center;
	z-index: 10;
	background-color: transparent;
	width: 100%;
	text-shadow: 2px 2px 2px #000000;
}

.participants .local .participant video {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}

.participants .local .participant video::-webkit-media-controls-panel {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}

.home-button {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 25px;
	height: 25px;
	/* background: url('../assets/left-arrow.svg') no-repeat; */
	background-size: 25px;
	cursor: pointer;
}

.main-container .participants > div {
	display: flex;
	padding: 1px 0;
	min-height: 10%;
	max-height: 26%;
	/* flex-basis: calc(50% - 40px);   */
	justify-content: center;
	flex-direction: column;
}

.participants .participant video::-webkit-media-controls-timeline,
.participants .participant video::-webkit-media-controls-play-button,
.participants .participant video::-webkit-media-controls-fullscreen-button,
.participants
	.participant
	video::-webkit-media-controls-toggle-closed-captions-button,
.participants .participant video::-webkit-media-controls-current-time-display {
	display: none;
}
.participants .participant video::-webkit-media-controls-panel {
	/* transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);  */
	padding-right: 40%;
	background: transparent !important;
}

video:focus {
	outline: none;
}
video:hover {
	background: none !important;
	box-shadow: none !important;
	text-shadow: none !important;
}
.footer {
	bottom: 0;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.toggleAudio,
.toggleVideo,
.screenSharingOn,
.screenSharingOff {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	cursor: pointer;
	border: none;
	outline: none !important;
	z-index: 5;
	    background: transparent;
}

.toggleAudio {
	position: absolute;
	bottom: 5px;
	left: 20%;
}

.toggleVideo {
	/* margin: 0 15px; */
	position: absolute;
	bottom: 5px;
	right: 20%;
}

.size-normal {
	font-size: 1.9em !important;
	line-height: 0.75em !important;
	vertical-align: -15%;
}

.border-25 {
	border-radius: 25px;
}

.blue-shadow {
	text-shadow: 2px 2px 2px #000;
	color: #4fb5f8;
}

.white-shadow {
	color: #fff;
	text-shadow: 2px 2px 2px #000;
}

.participant {
	position: relative;
}

.invite-button {
	position: relative;
	cursor: pointer;
	display: flex;
	color: white;
	justify-content: center;
	border: 1px solid;
	padding: 2px;
	margin: 0 10px;
}

.invite-button:hover {
	background: rgba(52, 50, 106, 0.2);
}

.popup-message {
	position: absolute;
	bottom: 0;
	left: calc(50% - 300px);
	width: 300px;
	display: flex;
	height: 50px;
	background: rgba(224, 228, 226, 0.5);
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
}

.open-chat {
	display: flex;
	position: absolute;
	top: 0;
	left: 15px;
	height: 50px;
	width: 50px;
	justify-content: center;
	align-items: center;
}

.open-chat i {
	text-align: center;
	width: 100%;
	font-size: 34px;
	color: white;
	cursor: pointer;
}

.chat-wrapper {
	min-width: 500px;
	max-width: 500px;
	background: rgba(41, 24, 101, 0.5);
	display: flex;
}

.chat-container {
	height: 100%;
  width: 100%;
  padding: 5px;
}