.menu-wrapper {
  height: 100%;
  display: flex;
}
.background-image {
	position: absolute;
	height: 100%;
	width: 100%;
	background: url("../../assets/MainPage/background2-min.png") no-repeat;
	background-size: cover;
}

.bottom-panel {
	position: fixed;
	bottom: 0;
	height: 400px;
	width: 100%;
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.3) 0%,
		rgba(0, 0, 0, 0) 100%
	);
	&:fullscreen {
		position: absolute;
		background: red;
		bottom: 0;
		left: 0;
	}
}
.panel-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";	
  color: #fff;


  margin-top: 1.5rem;
	div {
		cursor: pointer;
		&:not(:first-child):not(:last-child)::after {
			content: "";
			display: flex;
			height: 5px;
			width: 100%;
			background: transparent;
		}
		&:not(:first-child):not(:last-child):hover::after {
			content: "";
			display: flex;
			border-radius: 2.5px;
			height: 5px;
			width: 100%;
			background: #48d2f6;
		}
	}
}

.bottom-container {
	padding: 0 5%;
    height: 144px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
  .panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";	
  }
}

.xfinity-logo {
	height: 46px;
	width: 300px;
	background: url("../../assets/MainPage/sceenicLogo.svg") no-repeat;
}

.panel-time {
	font-size: 28px;
}

.speach-icon {
	height: 33px;
	width: 33px;
	background: url("../../assets/MainPage/speech_bubble_stroke.svg")
		no-repeat;
	&:hover {
		background: url("../../assets/MainPage/speech_bubble_pressed.svg")
			no-repeat;
	}
}

.settings-icon {
	height: 33px;
	width: 33px;
	background: url("../../assets/MainPage/settings_stroke.svg") no-repeat;
	&:hover {
		background: url("../../assets/MainPage/settings_pressed.svg")
			no-repeat;
	}
}

.news-container {
  display: flex;
  justify-content: space-between;
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	padding: 0 5%;
	div {
		height: 220px;
		width: 395px;
		background-size: contain;
		cursor: pointer;
	}
	.first-news {
		background: url("../../assets/MainPage/news1.png") no-repeat;
	}
	.second-news {
		background: url("../../assets/MainPage/news2.1.png") no-repeat;
	}
	.third-news {
		background: url("../../assets/MainPage/news3.png") no-repeat;
	}
	.fourth-news {
		background: url("../../assets/MainPage/news4.png") no-repeat;
	}
}
